@import "./vars.css";

.footer-container {
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--footer-height);
    background: white;
    border-top: 1px solid black;
}

.footer-contents {
    align-items: center;
    text-align: center;
}

.footer-contents > * {
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
}

#footer {
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

#content-root {
    padding-bottom: calc(var(--footer-height));
}