.navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar > ul > li {
    display: inline;
}

.navbar > ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 3em;
    font-family: Raleway, Arial, sans-serif;
    font-weight: bold;
    font-variant-caps: small-caps;
}

/* Final product */
.navbar > ul > li > a > .small-cap {
    font-size: 120%;
}

/* A/B/Control Testing */

/*.navbar > ul > li > a > .small-cap.testing-A {*/
/*    font-size: 120%;*/
/*}*/

/*.navbar > ul > li > a > .small-cap.testing-B {*/
/*    font-size: 110%;*/
/*}*/

/*.navbar > ul > li > a > .small-cap.testing-control {*/
/*    !*font-size: 120%;*!*/
/*}*/

.spacer {
    padding: 0 0.5rem;
}

.flr {
    float: right;
}

div.ext-box {
    display: table;
    width: 100%;
}

div.int-box {
    display: table-cell;
    vertical-align: middle;
}

*:not(li > a > span) {
    vertical-align: inherit;
}
