@import "vars.css";

#root {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    height: var(--header-height);
    border-bottom: 1px solid black;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    background: white;
}

.navbar {
    width: 100%;
    align-items: center;
}

.navbar > ul {
    width: calc(100% - var(--nav-edges));
    list-style-type: none;
    margin: auto;
    padding: 0;
}

.navbar > ul > li {
    display: inline;
}

.navbar > ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 3em;
    font-family: Raleway, Arial, sans-serif;
    font-weight: bold;
    font-variant-caps: small-caps;
}

/* Final product */
.navbar > ul > li > a > .small-cap {
    font-size: 120%;
}

/* A/B/Control Testing */

/*.navbar > ul > li > a > .small-cap.testing-A {*/
/*    font-size: 120%;*/
/*}*/

/*.navbar > ul > li > a > .small-cap.testing-B {*/
/*    font-size: 110%;*/
/*}*/

/*.navbar > ul > li > a > .small-cap.testing-control {*/
/*    !*font-size: 120%;*!*/
/*}*/

.spacer {
    padding: 0 0.5rem;
}

.flr {
    float: right;
}

div.ext-box {
    display: table;
    width: 100%;
}

div.int-box {
    display: table-cell;
    vertical-align: middle;
}

*:not(li > a > span) {
    vertical-align: inherit;
}

#content-root {
    padding-top: var(--header-height);
}